<div class="row">

<!-- RSCELEB -->
<div id='div-gpt-ad-1399504745516-0' class="col-sm-4 col-xs-12 text-center">
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399504745516-0'); });
</script>
</div>

<!-- ObertoTiles -->
<div id='div-gpt-ad-1399407738878-0' class="col-sm-4 col-xs-12 text-center">
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399407738878-0'); });
</script>
</div>

<!-- TIP_TILE -->
<div id='div-gpt-ad-1399408353562-0' class="col-sm-4 col-xs-12 text-center">
<script type='text/javascript'>
googletag.cmd.push(function() { googletag.display('div-gpt-ad-1399408353562-0'); });
</script>
</div>



</div>
