<!-- start bio -->
<section class="bio-index">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="text block">
                    <p class="lead text-left">{{settings.parallax_par}}</p>
                    <a href="/pages/bio" class="button subHeadBtn">VIEW BIO & STATS</a>
                </div>
            </div>
        </div>
    </div><!-- end testimonials container -->
    <!--URL GO TO FOR ACCOUNT TEAM -->
    <div id="blog"></div>
    <!-- END URL GOTO -->
</section><!-- end bio section -->
