
<!-- start blog content -->
<section class="blogClassic">
<h2>{{settings.athlete}} {% if blog.handle == 'blog' %}<span>BLOG</span>{% else %}<span>NEWS</span>{% endif %}  <br/>{% include 'divider' %}</h2>
    <div class="container">
