        <div class="row">
            <div class="col-lg-12">
                <h4>TOTALS</h4>
                <div class="dividerWidget"></div>
                <ul class="totalsList">

                    <li class="boldItalic">Order Total:<span>{{ cart.total_price | money }}</span></li>
                </ul>
            </div>
        </div>
        <div class='row'>
            <div class="col-sm-6 col-xs-12 margbtm">
                <a href="/collections/all-products" class="button grey ">CONTINUE SHOPPING</a>
            </div>
            <div class="col-sm-6 col-xs-12 margbtm">
                <button href="#" class="button subHeadBtn pull-right btn-center" type="submit" name="checkout" value="Check out" />CHECKOUT</button>
            </div>
        </div>

            <div class="padding-bottom24"></div>
