<!-- start subheader -->
<section class="subHeader classic" style="margin-top:69px;">
    <div class="container">
        <h1>SHOPPING CART<span>Lorem Ipsum</span></h1>
        <a href="shoppingcart.html" class="button cart">CHECKOUT</a>
    </div><!-- end subheader container -->
</section><!-- end subheader section -->