<li><a {% if link.active %} class="active"{% endif %} href="/">HOME</a></li>

<li><a {% if link.active %} class="active"{% endif %} href="/#foundation">ABOUT</a></li>

<li><a {% if link.active %} class="active"{% endif %} href="/collections/all-products">GEAR</a></li>

<li><a {% if link.active %} class="active"{% endif %} href="/pages/media">MEDIA</a></li>