<div class="row">
            <div class="col-lg-12">
            <!-- start tabs -->
                <ul class="tabs">
                    <li><a href="#tab3" class="button tab">REVIEWS</a></li>                
                    <li><a href="#tab1" class="button tab active">SIZING CHART</a></li>

<!--                     <li><a href="#tab2" class="button grey tab">SUBMIT A REVIEW</a></li> -->
                    
                </ul>
                <div class="tabContent" id="tab1">
                    {% include 'sizing-chart' %}

                </div>
                <div class="tabContent" id="tab3">
             {% include 'yotpo' %}

<!--                     <h4>2 REVIEWS</h4>
                    <div class="shopReview">
                        <h1>JOHN DOE</h1>
                        <p>Duis elementum ullamcorper mi, ut ullamcorper urna fringilla eget. In in nec
                        sit amet lorem convallis fermentum et quis nunc. Sed ullamcorper purus nec
                        orci dapibus suscipit non nec turpis. Vestibulum condimentum velit a velit
                        ornare, non ultricies mi molestie. Vivamus nec volutpat felis. Vestibulum non
                        placerat libero. Aenean urna augue, rhoncus. Duis elementum ullamcorper
                        mi, ut ullamcorper urna fringilla eget. In in nec sit amet lorem convallis
                        fermentum et quis nunc.</p>
                        <p class="reviewFooter"><img src="images/dateIcon.png" alt="" class="blogIcon" />11 NOV, 1:15 PM</p>
                    </div>
                    <div class="shopReview">
                        <h1>SARAH PARKER</h1>
                        <p>Duis elementum ullamcorper mi, ut ullamcorper urna fringilla eget. In in nec
                        sit amet lorem convallis fermentum et quis nunc. Sed ullamcorper purus nec
                        orci dapibus suscipit non nec turpis. Vestibulum condimentum velit a velit
                        ornare, non ultricies mi molestie. Vivamus nec volutpat felis. Vestibulum non
                        placerat libero. Aenean urna augue, rhoncus. Duis elementum ullamcorper
                        mi, ut ullamcorper urna fringilla eget. In in nec sit amet lorem convallis
                        fermentum et quis nunc.</p>
                        <p class="reviewFooter"><img src="images/dateIcon.png" alt="" class="blogIcon" />11 NOV, 1:15 PM</p>
                    </div><br/> -->

                </div>                
<!--                 <div class="tabContent" id="tab2">
                    <h4>SUBMIT A REVIEW</h4>
                    <div class="dividerWidget"></div>
                    <div class="row">
                    <div class="col-lg-7">
                    <form class="contactForm" method="post" action="#">
                        <fieldset>
                        <input type="text" name="name" value="Your name" style="margin-right:2%;" />
                        <input type="text" name="email" value="Your email" />
                        <textarea name="review" placeholder="Your review"></textarea>
                        <input type="submit" name="submit" value="SEND" class="button red shopForm" />
                        </fieldset>
                    </form>
                    </div>
                    </div>
                </div> -->

            </div>
        </div><!-- end row -->