<form class="subscribeForm" action="http://162.242.147.250/sendy/subscribe" method="POST" accept-charset="utf-8">

    <input type="text" name="name" class="width100 input" placeholder="Enter your name" required><br>
    <input type="text" name="email" class="width100 input" placeholder="hello@example.com" required>
    <input type="hidden" name="list" value="{{settings.athlete_sendy}}"/>
    <div class="clear"><input type="submit" value="SUBSCRIBE" name="submit" id="submit" class="button subscribe"></div>
</form>   