{% raw %}
<div ng-controller="SocialCtrl" id="share-wrapper" class="hidden-xs">
    <ul class="share-inner-wrp">
    	
        <!-- Facebook -->
        <li class="facebook button-wrap"><a href="#">Facebook</a></li>

        <!-- Twitter -->
        <li class="twitter button-wrap"><a href="#">Tweet</a></li>

         <!-- Twitter -->
        <li class="cart buttons-wrap"><a href="/collections/all-products">Gear</a></li>

        <!-- <li class="cart button-wrap"><a href="/collections">Shop</i></li> -->
    </ul>
</div>
{% endraw %}

