<div class="blue_bg">
<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-6 text-center">
				<div class="jumbotron green_bg">
					<a href="http://www.ticketmaster.com/event/0F004C82D877C241
"><h2 class="white">BUY TICKETS</h2></a>
				</div>
			</div>
			<div class="col-sm-6 text-center">
			<a href="/pages/about-softball#newsletter">
				<div class="jumbotron green_bg">
					<h2 class="white">JOIN NEWSLETTER</h2>
				</div>
			</a>
			</div>
		</div>
	</div>
</div>