                    <form class="subscribeForm" action="http://162.242.147.250/sendy/subscribe" method="POST" accept-charset="utf-8">

                            <input type="text" name="name" class="input" placeholder="Enter your name" required><br>
                            <input type="text" name="email" class="input" placeholder="hello@example.com" required>
                            <input type="hidden" name="list" value="1PIMpV7i8wMWiQSK5VZhAg"/>
                            <div class="clear"><input type="submit" value="SUBSCRIBE" name="submit" id="submit" class="button subscribe"></div>
                    </form>
                    <br>