<!-- REVOLUTION SLIDER -->
<div class="hidden-xs">
	<div class="fullwidthbanner-container">

		<div slider class="fullwidthbanner">
			<ul>
				<!-- Slide 1 -->
				<li data-transition="slideright">
					<img src="{{'softball.jpg' | asset_url}}" alt="" />
					<!-- Caption -->
<!-- 					<div class="caption sft stl" data-x="0" data-y="220" data-speed="700" data-start="700" data-easing="easeOutExpo">
						<h3 class="rev-title bold mainresp">TICKETS ON SALE <span>SATURDAY APRIL 12th,</span> at 10:00 AM PDT.</h3>

					</div> -->

					<!-- Caption -->
					<div class="caption lfl stl rev-title-sub" data-x="320" data-y="300" data-speed="700" data-start="700" data-easing="easeOutExpo">

					</div>

					<!-- Caption -->
<!-- 					<div class="caption sfb" data-x="440" data-y="310" data-speed="700" data-start="700" data-easing="easeOutExpo">
						<a href="/collections/all-products" target="_blank" class="button subHeadBtn">OFFICIAL GEAR </a>
					</div> -->
				</li>

				<!-- Slide 2 -->
				 <!-- <li data-transition="slideright">
					<img src="https://2eda381f3a94b537ef7b-13f240ffbb58c1e433677e52c7416f2e.ssl.cf1.rackcdn.com/slider2.jpg" alt="" class="portfolioImg" /> -->
					<!-- Caption -->
<!-- 					 <div class="caption sft stl rev-title-sub"  data-x="580"
										 data-y="240"
										 data-speed="800"
										 data-start="700"
										 data-easing="easeOutExpo"  >
						<h3 class="rev-title bold padleftresp mainresp box">GET UPDATED ON ME</h3>
					</div> -->

					<!-- Caption -->
<!-- 					 <div class="caption sfb"  data-x="595"
										 data-y="320"
										 data-speed="700"
										 data-start="700"
										 data-easing="easeOutExpo" >
						<a href="/blogs/blog" class="button subHeadBtn"> MY BLOG </a>
					</div>
				</li> -->

<!--
				 <li data-transition="slideright">
					<img src="https://2eda381f3a94b537ef7b-13f240ffbb58c1e433677e52c7416f2e.ssl.cf1.rackcdn.com/slider3.jpg" alt="" />

					 <div class="caption lfl stl rev-title" data-x="200" data-y="130" data-speed="800" data-start="1100" data-easing="easeOutExpo">
						<h3 class="rev-title bold padleftresp mainresp box">GREATEST MOMENTS</h3>
					</div>


					 <div class="caption sfb" data-x="220" data-y="210" data-speed="1100" data-start="1500" data-easing="easeOutExpo">
						<a href="/pages/media" class="button subHeadBtn"> VIEW GALLERY </a>
					</div>
				</li>  -->
			</ul>
			<div class="tp-bannertimer tp-bottom"></div>
		</div>
	</div>
<!-- // END REVOLUTION SLIDER -->
</div>

<div class="visible-xs">
	<section id="mobile-hero2" class="hidden-sm hidden-md hidden-lg">
		<div class="col-xs-12">
			<img src="{{'softball.jpg' | asset_url}}" alt="" class="img-responsive"/>
		</div>
	</section>
</div>