{% if (settings.base_style == 'pavilion') %}</div></div>{% endif %}
<!-- start 404 content -->
<section class="content404">
    <div class="container">
            <h1>404</h1>
            <p class="lead text-center">WE’RE SORRY. THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST.</p>
            <p class="lead text-center">Maybe be you were looking for one of these pages:</p><br/>
            <ul class="text-center">
                <li><a href="/" class="button grey">HOME</a></li>
                <li><a href="/collections/all-products" class="button grey">GEAR</a></li>
                <li><a href="/blogs/blog" class="button grey">BLOG</a></li>
            </ul>
    </div><!-- end 404 container -->
</section><!-- end 404 section -->

</div>