

<!-- start shop content -->
<section>

<div class="container">
{% include 'pdp-block' %}
{% include 'pdp-related' %}
{% include 'pdp-descrip' %}
{% include 'pdp-insta' %}
</div><!-- end shop container -->

</section><!-- end shop section -->
<br>